/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

/* Estilos del contenedor principal */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

/* Botones de navegación */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #0078D7;
    border-radius: 5px;
}

/* Sección de contenido */
.section {
    background-color: white;
    padding: 50px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Botón principal */
.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #0078D7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
}

.button:hover {
    background-color: #005bb5;
}
